<style>
    .container {
  position: relative;
  text-align: center;
  color: rgb(254, 2, 2);
    }

  .centered {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .centered-below{
    top: 25%;
    position: absolute;
    font-size: 20px;
    color: rgb(255, 255, 255);
  left: 50%;
  font-family: 'Times New Roman', Times, serif;
  transform: translate(-50%, -50%);
  }

  img{
    opacity: 80%;
  }
  



</style>

<div class="container">
    <img src="../../../assets/resources/wallet bg.jpg" alt="wallet" style="width:100%;">
        <h1 class="centered">Welcome to Payment Wallet Application</h1>
        <div>
            <h2 class="centered-below">You are logged in you may now use our services by using the navigation bar above.</h2>
        </div>
        
        
  </div>