<style>
    .centered {
   padding: 5% 5% 5% 15%;
    color:rgb(128, 128, 128);
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    }
    .centered-below{
      padding: 1% 15% 5% 18%;;
      font-size: 30px;
      color:lime;
    font-family: 'Monospace','Times New Roman', Times, serif;   
    }
  </style>
  
  
          <div class="centered">
          <p >Welcome to Payment Wallet Application</p>
        </div>
          <div class="centered-below">
              <p>You are logged in you may now use our services by using the navigation bar above.</p>
            </div>
          
          
    