<p>register works!</p>

<div class="register-form">
  <div class="form">
    <form
      name="form"
      #f="ngForm"
      (ngSubmit)="f.form.valid && onSubmit()"
      novalidate
      [appMatchPassword]="['password', 'confirmPassword']"
    >
      <div class="form-group">
        <label for="">User Name</label>
        <input
          type="text"
          class="form-control"
          name="userName"
          [(ngModel)]="form.username"
          required
          minlength="6"
          maxlength="20"
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
        />
        <div *ngIf="f.submitted && username.errors" class="invalid-feedback">
          <div *ngIf="username.errors['required']">User Name is required</div>
          <div *ngIf="username.errors['minlength']">
            User Name must be atleast 6 letters
          </div>
          <div *ngIf="username.errors['maxlength']">
            User Name cannot be more than 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">ID</label>
        <input
          type="text"
          class="form-control"
          name="id"
          [(ngModel)]="form.id"
          required
          minlength="3"
          maxlength="5"
          #id="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && id.errors }"
        />
        <div
          *ngIf="'(f.submitted && id.errors) || (id.touched && id.errors)'"
          class="invalid-feedback"
        >
          <div *ngIf="id.errors['required']">ID is required</div>
          <div *ngIf="id.errors['minlength']">ID must be atleast 3 letters</div>
          <div *ngIf="username.errors['maxlength']">
            ID cannot be more than 5 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="8"
          maxlength="25"
          #password="ngModel"
          
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        
        <div *ngIf="f.submitted && password.errors" class="invalid-feedback">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be atleast 8 letters
          </div>
          <div *ngIf="password.errors['maxlength']">
            Password cannot be more than 25 characters
          </div>
          <div *ngIf="password.errors['format']">
            Password must contain atleast one special character
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="">Confirm Password</label>
        <input
          type="password"
          name="confirmPassword"
          class="form-control"
          [(ngModel)]="form.confirmPassword"
          required
          minlength="8"
          maxlength="25"
          #confirmPassword="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.errors }"
        />
        <div *ngIf="f.submitted && confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="confirmPassword.errors['required']">Password is required</div>
          <div *ngIf="confirmPassword.errors['minlength']">
            confirm Password must be atleast 8 letters
          </div>
          <div *ngIf="confirmPassword.errors['maxlength']">
            confirm Password cannot be more than 25 characters
          </div>
          <div *ngIf="confirmPassword.errors['matching']">
            Confirm Password must be same as password 
          </div>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
  </div>
</div>
