<nav class="navbar navbar-expand bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">FORD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="wallet/home">Home</a>
        <a class="nav-link" href="wallet/login">Login</a>
        <a class="nav-link" routerLink="wallet/register">Register</a>
        <a class="nav-link" routerLink="wallet/addfund">Add Fund</a>
        <a class="nav-link" routerLink="wallet/withdraw">Withdraw</a>
        <a class="nav-link" routerLink="wallet/unregister">Delete</a>
        <a class="nav-link" routerLink="wallet/transfer">Transfer</a>
        <a class="nav-link" routerLink="wallet/check">Wallet Details</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
