<style>
  .form-group {
    padding: 5px 10% 5px 10%;
  }
</style>
<div *ngIf="errorMsg" class="alert alert-danger">
  <h1>{{ errorMsg }}</h1>
</div>
<div *ngIf="msg" class="alert alert-success">
  <h1>{{ msg }}</h1>
</div>
<p-toast></p-toast>
<div style="padding: 10% 10% 10% 10%" class="login-form">
  <form
    name="form"
    #f="ngForm"
    (ngSubmit)="f.form.valid && onSubmit()"
    novalidate
  >  
      <div class="form-group">
        <h2>Login User</h2>

        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>

          <input
            pInputText
            pTooltip="Enter your user ID"
            tooltipPosition="top"
            tooltipEvent="focus"
            placeholder="User ID "
            type="text"
            class="form-control"
            name="id"
            [(ngModel)]="form.id"
            required
            minlength="1"
            #id="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && id.errors }"
          />
        </div>
        <div
          *ngIf="f.submitted && id.errors"
          class="invalid-feedback"
        >
          <div *ngIf="id.errors['required']">ID is required</div>
          <div *ngIf="id.errors['minlength']">ID is required</div>

        </div>
      </div>
      <div class="form-group">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>

          <input
            pInputText
            pTooltip="Enter your password"
            tooltipPosition="top"
            tooltipEvent="focus"
            placeholder="Password"
            type="password"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="1"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
          />
        </div>

        <div *ngIf="f.submitted && password.errors" class="invalid-feedback">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">Password is required</div>

        </div>

      </div>
      <div class="form-group"  >
        <button  type="submit" class="btn btn-success" style="margin-right: 10px">Sign In</button>
        <button type="button" (click)="callRegister()" class="btn btn-primary">
          Register
        </button>
      </div>
  </form>
</div>
